.Running {
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 80px);
  height: 50vh;
};
